<div class="home" ng-controller="HighscoreListController">
  <p>
    <button class="btn btn-success" ng-click="newGame()">New game</button>
  </p>
  <table class="highscore-list">
    <caption ng-bind="caption"></caption>
    <tr ng-repeat="highscore in highscores | orderBy:'-score' | limitTo: 10"
        class="highscore-list-item">
      <td ng-bind="highscore.name"></td>
      <td ng-bind="highscore.score"></td>
    </tr>
  </table>
</div>

