<div class="game" ng-controller="GameController">
  <p class="unsorted-word">
    <span style="background-color: {{ wordBg }}">{{ state.unsortedWord }}</span>
  </p>
  <p>
    <input type="text" ng-model="state.enteredWord" ng-keydown="onKeyDown($event)" ng-change="onChange()"
        id="entered-word" class="entered-word" size="7" maxlength="7" focus-if placeholder="{{ placeholder }}">
  </p>
  <p>
    <button class="btn btn-warning" ng-click="skipWord()">Skip word</button>
  </p>
  <p class="current-reward">
    For {{ state.currentReward }} points
  </p>
  <p class="score">
    Score: <strong>{{ state.score }}</strong> points
  </p>
  <p class="time-left">
    Time left: {{ state.timeLeft }}
  </p>
  <p>
    <button class="btn btn-danger" ng-click="quitGame()">Quit game</button>
  </p>
</div>

