<div class="new-game" ng-controller="NewGameController">
  <p>
    Enter your name
  </p>
  <p>
    <input type="text" ng-model="state.name" ng-keypress="onKeyPress($event)" focus-if>
  </p>
  <p>
    <button class="btn btn-success" ng-click="startGame()" ng-disabled="!isResetDone || state.name.length == 0">Start game</button>
  </p>
  <p>
    <a href="#!/highscore-list" class="btn btn-danger">Go back</a>
  </p>
</div>

